<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="style.css" rel="stylesheet">
  <title>Adiseng</title>
</head>
<body>
  <header class="header">
    <div class="header__first-level-inner"></div>
    <div class="header__main-level-inner">
      <div class="container header__main-level-content">
        <a class="header__logo-link"><img class="header__logo" src="img/АДИС_1.png" alt="Логотип АДИС"></a>
        <nav class="header__menu">
          <ul class="header__menu-list">
            <li class="header__menu-item"><a href="#">Главная</a></li>
            <li class="header__menu-item"><a href="#">Услуги</a></li>
            <li class="header__menu-item"><a href="#">Новости</a></li>
            <li class="header__menu-item"><a href="#">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <main class="page-content">
    <section class="container product-categories">
      <div class="product-categories__category-list">
        <h2 class="product-categories__category-list-header">Категории:</h2>
        <ul class="product-categories__category-items">
          <li><a class="product-categories__category-item" href="#">Шкафы управления</a></li>
          <li><a class="product-categories__category-item" href="#">Преобразователи частоты</a></li>
          <li><a class="product-categories__category-item" href="#">Датчики</a></li>
          <li><a class="product-categories__category-item" href="#">Приводы</a></li>
        </ul>
      </div>
      <div class="product-categories__slider">
        SLIDER
      </div>
    </section>
    <section class="container main-disc">
      <h1 class="main-disc__title">Оборудование для автоматизации инженерных систем</h1>
      <p class="main-disc__text">
        Осуществляем комплексную поставку щитов управления, датчиков, частотных преобразователей, приводов.
      </p>
    </section>


  </main>
</body>
</html>